@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing:content-box;
}

img{
    width: 100%;
    display: flex;
    padding-left: 10%;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}


header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;

}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #fff;
}


video{
display: block;
margin: 0 auto;
    width:fit-content;
    height: 500px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;;
}

.features .card{
    margin-bottom: 1px;
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}


.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #fff;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}




.pricing{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: fit-content(100%);
    gap: 3rem;
}

.image1 {
    margin-top: 18rem;
    display: grid;
    height: 600px;
    width: 550px;
    float: right;

}


.pricing .card{
    padding: 1rem 1rem;
    background-color: #27272a;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 1rem;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.pricing .card h4{
    margin-bottom: 3rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}


.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}




footer{
    background: #3a3a3a;
    padding-top: 30px;

}
.container1{
    width: 1370px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #fff;
}
.footer-content{
    width: 150rem;

}
h6{
    font-size: 25px;
    padding-left: 10;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 290px;
    margin: auto;
    padding: 7px;
    color: #fff;
}
.footer-content ul{
   justify-content: center;

}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;

}
.social-icons i{
    color: #fff;
    font-size: 25px;
}
.social-icons i:hover{
    color: #28036b;
}
